<!-- <div class="card" style="width:400px">
  <img class="card-img-top" src="img_avatar1.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div> -->
<br>
<div class="card">
    <a routerLink="/create"><div class="card-body bg-success text-center">Create</div></a>
    <br>
    <a routerLink="/read"><div class="card-body bg-info text-center">Read</div></a>
    <br>
    <!-- <a routerLink="/update"><div class="card-body bg-warning text-center">Update</div></a>
    <br>
    <a routerLink="/delete"><div class="card-body bg-danger text-center">Delete</div></a>
    <br>
    <a routerLink="/search"><div class="card-body bg-primary text-center">Search</div></a> -->
  </div>