label {
  font-weight: 600;
  color: #666;
}
body {
background: #f1f1f1;

}
.box8{
box-shadow: 0px 0px 5px 5px #666;
padding: 200px;
background-color:rgb(211, 204, 204);
}
.mx-t3{
margin-top: -3rem;
color: black;
}

.col-sm-6{
  margin: 10px;
}
.col-sm-12{
 margin: 10px;
}
.text-info{
  color: antiquewhite;
}