<!-- <div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Register Today</h3>
                    <br>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" novalidate>

                        <div class="col-md-12">
                           <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                           <div class="valid-feedback">Username field is valid!</div>
                           <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                        </div>

                       <div class="col-md-12">
                            <select class="form-select mt-3" required>
                                  <option selected disabled value="">Position</option>
                                  <option value="Class-1">Class-1</option>
                                  <option value="Class-2">Class-2</option>
                                  <option value="Class-3">Class-3</option>
                                  <option value="Class-4">Class-4</option>
                                  <option value="Class-5">Class-5</option>
                                  <option value="Class-6">Class-6</option>
                                  <option value="Class-7">Class-7</option>
                                  <option value="Class-8">Class-8</option>
                                  <option value="Class-9">Class-9</option>
                           </select>
                            <div class="valid-feedback">You selected a position!</div>
                            <div class="invalid-feedback">Please select a position!</div>
                       </div>


                       <div class="col-md-12">
                          <input class="form-control" type="password" name="password" placeholder="Password" required>
                           <div class="valid-feedback">Password field is valid!</div>
                           <div class="invalid-feedback">Password field cannot be blank!</div>
                       </div>


                       <div class="col-md-12 mt-3">
                        <label class="mb-3 mr-1" for="gender">Gender: </label>

                        <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off" required>
                        <label class="btn btn-sm btn-outline-secondary" for="male">Male</label>

                        <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" required>
                        <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>

                        <input type="radio" class="btn-check" name="gender" id="secret" autocomplete="off" required>
                        <label class="btn btn-sm btn-outline-secondary" for="secret">Secret</label>
                           <div class="valid-feedback mv-up">You selected a gender!</div>
                            <div class="invalid-feedback mv-up">Please select a gender!</div>
                        </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                      <label class="form-check-label">I confirm that all data are correct</label>
                     <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                    </div>
              

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->




<!DOCTYPE html>
<html>
<head>
	<title>form</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style type="text/css">
		.container{
			margin-top: 8%;
			width: 400px;
			border: ridge 1.5px white;
			padding: 20px;
		}
		body{
			background: #E0EAFC;  
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  
background: linear-gradient(to right, #CFDEF3, #E0EAFC); 

		}
	</style>
</head>
<body>
	<div class="container">
		<h2>Registration Form</h2>
<form #createStudent="ngForm" (ngSubmit)="onSubmit(createStudent.value)">
		<div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="exampleInputfirstname" name="firstname" ngModel>
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="exampleInputlastname" name="lastname" ngModel>
  </div>
  <div class="form-group">
    <label for="age">Student Age</label>
    <input type="number" class="form-control" id="exampleInputphoneno" name="age" ngModel>
  </div>
  <div class="form-group">
    <label for="class">Student Class</label>
    <input type="text" class="form-control" id="exampleInputphoneno" name="class" ngModel>
  </div>

  <!-- <div class="form-group">
    <select class="form-select mt-3" required>
          <option selected disabled value="">Class</option>
          <option value="Class-1" name="class-1" ngModel>Class-1</option>
          <option value="Class-2" name="class-2" ngModel>Class-2</option>
          <option value="Class-3">Class-3</option>
          <option value="Class-4">Class-4</option>
          <option value="Class-5">Class-5</option>
          <option value="Class-6">Class-6</option>
          <option value="Class-7">Class-7</option>
          <option value="Class-8">Class-8</option>
          <option value="Class-9">Class-9</option>
   </select>
    <div class="valid-feedback">You selected a position!</div>
    <div class="invalid-feedback">Please select a position!</div>
    </div> -->
    <!-- <div class="col-md-12 mt-3">
        <label class="mb-3 mr-1" for="gender">Gender: </label>

        <input type="radio" class="btn-check" name="male" ngModel id="male" autocomplete="off" required>
        <label class="btn btn-sm btn-outline-secondary" for="male">Male</label>

        <input type="radio" class="btn-check" name="female" ngModel id="female" autocomplete="off" required>
        <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>

        <input type="radio" class="btn-check" name="other" ngModel id="other" autocomplete="off" required>
        <label class="btn btn-sm btn-outline-secondary" for="secret">Other</label>
           <div class="valid-feedback mv-up">You selected a gender!</div>
            <div class="invalid-feedback mv-up">Please select a gender!</div>
    </div> -->
  <div class="form-group">
    <label for="Address">Address</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="addressHelp" name="address" ngModel>
  </div>

  <button type="submit" class="btn btn-primary text-center">Create Student</button>
</form>
</div>
</body>
</html>
 