<h1 class="text-center pt-4">Students Details</h1>

<div class="container table-responsive py-5"> 
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Roll</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Class</th>
      <th scope="col">Age</th>
      <th scope="col">Address</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <th scope="row">1</th>
      <td>{{data.roll}}</td>
      <td>{{data.fistname}}</td>
      <td>{{data.lastname}}</td>
      <td>{{data.class}}</td>
      <td>{{data.age}}</td>
      <td>{{data.address}}</td>
      <td><button type="button" class="btn btn-warning">Update</button> <button type="button" class="btn btn-danger">Delete</button> </td>
    </tr>
    <!-- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>fat</td>
      <td>Otto</td>
      <td>mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>twitter</td>
      <td>Otto</td>
      <td>mdo</td>
    </tr>
     <tr>
      <th scope="row">4</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>twitter</td>
      <td>Otto</td>
      <td>mdo</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>twitter</td>
      <td>Otto</td>
      <td>mdo</td>
    </tr> -->
  </tbody>
</table>
</div>

<!-- <p class="text-center">Bootstrap 4 responsive table without css and anyother things. Enjoy ... </p>
<p class="text-center">Don't forget to star, contribute & follow on <a href="https://github.com/Md-Asaduzzaman-Muhid" target="_blank" class="hover-1">Github</a></p> -->

